body {
  background-color: lightblue;
}

h1 {
  font-size: xx-large;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(79, 129, 145);
  padding: 20px;
  color: white;
}

h2 {
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 1.5%;
  color: white;
  background-color: rgb(79, 129, 145);
  padding: 10px;
  border-radius: 5px;
}

h3 {
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#title-container {
  background-color: rgb(79, 129, 145);
  padding: 0px;
  color: white;
  font-size: xx-large;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 999;
}

#user-input-container {
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 0.5px;
  position: sticky;
  top: 0;
  z-index: 998;
  height: auto;
}

#content-container {
  padding: 20px;
  margin-top: 10px;
}

/* Style for the user input box */
#search-input {
  width: 40%; /* Adjust the width to make it bigger */
  margin: 0 auto; /* Center the user input box horizontally */
  padding: 10px;
  background-color: #f0f8ff; /* Light blue background color */
  border: 1px solid rgb(79, 129, 145);
  border-radius: 5px;
}

.search-container {
  text-align: center; /* Center align the content inside the user input container */
  margin-top: 20px; /* Add margin at the top to separate it from the boxes */
}

.default-search-options {
  text-align: center; /* Center align the content inside the user input container */
  margin-top: 5px; /* Add margin at the top to separate it from the boxes */
}

.search-option {
  background-color: rgb(79, 129, 145);
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  margin-bottom: 25px;
}

#search-button {
  background-color: rgb(79, 129, 145);
  border: none;
  color: white;
  padding: 6px 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}

#search-results {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(79, 129, 145);
  max-width: 800px;
  margin: 0 auto;
  text-indent: 10px;
  text-wrap: wrap;
  padding: 1%;
  color: white;
  border-radius: 5px;
}

/* Style for the container of the clickable boxes */
.model-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too narrow */
  background-color: rgb(238, 251, 255);
  padding-top: 4.5%;
  padding-bottom: 3%;
  border-radius: 5px;
  margin: 20px;
}

/* Style for each individual box */
.model-box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 10%; /* Adjust the width as needed */
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer; /* Add a cursor pointer to indicate clickability */
  background-color: rgb(79, 129, 145);
  color: white;
  overflow: hidden;
}

/* Style for the selected box */
.model-box.selected {
  background-color: #007bff; /* Change the background color when selected */
  color: #fff; /* Change the text color when selected */
}

.model-box.selected {
  background-color: rgb(
    47,
    166,
    205
  ); /* Change the background color when selected */
  color: #fff; /* Change the text color when selected */
}

.model-container {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#submit-api-key {
  background-color: rgb(79, 129, 145);
  border: none;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#api-key-input,
#llama-model-size,
#vicuna-model-size,
#alpaca-model-size,
#flant5-model-size {
  background-color: #f0f8ff; /* Light blue background color */
  border: 1px solid rgb(79, 129, 145);
  border-radius: 5px;
  padding: 5px;
  width: 135px;
  margin-top: 5px;
}
